.Operation_Container{
    max-width: 1250px;
    margin: auto;
    .TopBanner{

    }
    .CeoContents{
        max-width: 1050px;
        margin-left: 200px;
        padding-top: 50px;
    }
    .Contents {
        
    }
}

@media screen and (max-width:768px) {

}