.TestGuide_Container{
    max-width: 1050px;
    margin: auto;
    .TopBanner{

    }
    .Analysis_Contents{
        display: flex;
        flex-direction: column;
        max-width: 1050px;
    }
    .Contents {
        
    }
}