.TestGuide_Container{
    max-width: 1250px;
    margin: auto;
    .TopBanner{

    }
    .CeoContents{
        display: flex;
    }
    .Contents {
        max-width: 1050px;
        margin-left: 200px;
        padding-top: 50px;
    }
}