.Board{
    border-bottom: solid 1px #e5e5e5;
    justify-content: space-around;
    display: flex;
        .Han_Type{
            max-width: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            }
        .Han_Date{
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            }
        .Han_Title{
            max-width: 400px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            }
        .Han_People{
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            
    } 
}
.Link {
    text-decoration: none;
    color: #535353;
}

@media screen and (max-width:768px) {
    .Board{
        
            .Han_Type{
                font-size: 11px;
                }
            .Han_Date{
                font-size: 11px;
                }
            .Han_Title{
                font-size: 11px;
                }
            .Han_People{
                font-size: 11px;
                
        } 
    }
}