.InHanbit_Container {
  max-width: 1050px;
  width: 100%;
  padding-bottom: 100px;
  .InHanbit_TitleBox {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #535353;
    .InHanbit_Title {
      font-size: 30px;
    }
  }
  .InHanbit_Board {
    .In_TitleBox {
      .In_Title {
        padding-left: 20px;
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 18px;
        color: #707070;
        height: 60px;
        border-bottom: 1px solid #e5e5e5;
      }
    }
    .In_Menu {
      .In_Menu_People {
        padding-left: 20px;
        font-size: 14px;
        color: #535353;
        border-bottom: 1px solid #e5e5e5;
        height: 60px;
        display: flex;
        align-items: center;
      }
    }
    .In_Menu_Text {
      padding-left: 20px;
      font-size: 16px;
      padding-top: 30px;
      color: #707070;
      height: 350px;
      border-bottom: 2px solid #535353;
      margin-bottom: 60px;
    }
  }
  .InHanbit_Btn {
    max-width: 142px;
    margin: auto;
    width: 100%;
    color: #ffffff;
    background-color: #535353;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    a {
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .InHanbit_Container {
    .InHanbit_TitleBox {
      .InHanbit_Title {
        font-size: 24px;
        padding-left: 15px;
      }
      .InHanbit_Btn {
        max-width: 100px;
        width: 100%;
        margin-right: 10px;
        font-size: 14px;
      }
    }
    .InHanbit_Board {
      .In_TitleBox {
        .In_Title {
          padding-left: 15px;
        }
      }
      .In_Menu {
        .In_Menu_People {
          padding-left: 15px;
        }
      }
      .In_Menu_Text {
        padding-top: 30px;
        padding-left: 15px;
      }
    }
  }
}
