.FindContainer{
    max-width: 1250px;
    width: 100%;
    text-align: center;
    height: 600px;
    margin: auto;
    .FindWrap{
        .TitleBox{
            .Title{

            }
            .Text{
                
            }
        }
        .EmailFind{
            width: 302px;
            height: 50px;
        }
        .Btn{
            
        }
    }
}