.GuideContainer{
    width: 55%;
    .GuideTop {
        display: flex;
        max-width: 600px;
        >div{
            padding: 15px 0 !important;
        }
        .GuideAbout{
            font-weight: 600;
            display: flex;
            width: 100%;
            padding: 5px;
            cursor: pointer;
            justify-content:center;
            >a{
                text-decoration: none;
                font-weight: 600;
                color:#070707;
            }
            
        }
        .GuideInfo{
            font-weight: 600;
            display: flex;
            width: 100%;
            padding: 5px;
            cursor: pointer;
            justify-content:center;
            >a{
                text-decoration: none;
                font-weight: 600;
                color:#070707;
            }
        }
        .GuideCar{
            font-weight: 600;
            display: flex;
            width: 100%;
            padding: 5px;
            cursor: pointer;
            justify-content:center;
            >a{
                text-decoration: none;
                font-weight: 600;
                color:#070707;
            }
        }
        .GuideBoard{
            font-weight: 600;
            display: flex;
            width: 100%;
            padding: 5px;
            cursor: pointer;
            justify-content:center;
            >a{
                text-decoration: none;
                font-weight: 600;
                color:#070707;
            }
        }
        .GuideNotice{
            font-weight: 600;
            display: flex;
            width: 100%;
            padding: 5px;
            cursor: pointer;
            justify-content:center;
            >a{
                text-decoration: none;
                font-weight: 600;
                color:#070707;
            }
        }
        .GuideQnA{
            font-weight: 600;
            display: flex;
            width: 100%;
            padding: 5px;
            cursor: pointer;
            justify-content:center;
            >a{
                text-decoration: none;
                font-weight: 600;
                color:#070707;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .GuideContainer{
        display: none;
    }
}