.LicenseContainer{
    background-image: url(../../../_asset/image/main/banner-01.png);
    max-width: 290px;
    width: 100%;
    height: 140px;
    margin: 15px 15px 15px 0;
    .Link{
        text-decoration: none;
        color: #333333;
    }
    .TextBox{
        padding: 32px 0 0 31px;
        .Title{
            font-size: 22px;
            font-weight: 600;
            padding-bottom: 13px;
        }
        .Text{
            font-size: 15px;
        }
    }
    
}

@media screen and (max-width:768px) {
    .LicenseContainer{
        
        .Link{
            
        }
        .TextBox{
           
            .Title{
                font-size: 20px;
                
            }
            .Text{
                font-size: 11px;
            }
        }
        
    }
}