.Vehicle_Container {
  padding-left: 85px;
  max-width: 1050px;
  width: 100%;
  .Vehicle_TitleBox {
    padding-top: 60px;
    .Vehicle_Title {
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 30px;
    }
  }
  .Vehicle_TopLine {
    display: flex;
    font-size: 16px;
    max-width: 1050px;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    border-top: solid 2px #535353;
    border-bottom: solid 2px #535353;
    .Top_Line_1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .Top_Line_2 {
      width: 100%;
      padding-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .Top_Line_3 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 3.5;
    }
    .Top_Line_4 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
  }
  .Vehicle_Board {
    justify-content: space-between;
    max-width: 1050px;
    width: 100%;
    .Board_List {
      display: flex;
      max-width: 1050px;
      width: 100%;
      justify-content: space-between;
      border-bottom: solid 1px #e5e5e5;
      > a {
        text-decoration: none;
        color: #535353;
      }
      .List_One {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        > div {
        }
      }
      .List_Two {
        width: 100%;
        height: 60px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
      .List_Three {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: left;
        align-items: center;
        flex: 5;
      }
      .List_Four {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Vehicle_Container {
    padding-left: initial;
    .Vehicle_TitleBox {
      padding: 60px 20px 0 20px;
      .Vehicle_Title {
        font-size: 24px;
        padding-left: initial;
      }
    }
    .Vehicle_TopLine {
      .Top_Line_1 {
        font-size: 14px;
      }
      .Top_Line_2 {
        font-size: 14px;
        padding-right: initial;
      }
      .Top_Line_3 {
        font-size: 14px;
      }
      .Top_Line_4 {
        font-size: 14px;
        padding: 10px;
      }
    }
    .Vehicle_Board {
      .Board_List {
        > a {
        }
        .List_One {
          > div {
          }
        }
        .List_Two {
          padding-right: initial;
        }
        .List_Three {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .List_Four {
        }
      }
    }
  }
}
