.ComeContainer{
    height: auto;
    margin-left: 120px;
    .Come_TextBox{
        padding-top: 65px;
        
        .Come_Title{
            font-size: 30px;
            padding-bottom: 50px;
        }
        .Come_Box{
            display: flex;
            padding-bottom: 30px;
            .Come_One{
                font-size: 16px;
                font-weight: 600;
                padding-right: 40px;
            }
            .Come_Two{
                font-size: 16px;
                font-weight: 200;
            }
        }
    }
    .Hanbit_Map{
        width: 1040px;
        height: 500px;
        margin-bottom: 100px;
    }
}