.HisContainer{
    max-width: 1050px;
    width: 100%;
    height: auto;
    margin-left: 100px;
    .HisTextBox{
        padding-top: 60px;
        .His_Title{
            font-size: 30px;
            padding-bottom: 28px;
            >span {
                color: #da2320;
            }
        }
        .His_Text{
            font-size: 20px;
            padding-bottom: 60px;
        }
    }
    .His_List{
        border-top: 2px solid #535353;
        border-bottom: 2px solid #535353;
        max-width: 1050px;
        width: 100%;
        .List_Box{
            max-width: 1050px;
            display: flex;
            height: 100px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #e5e5e5;
            .Box_Year{
                width: 80px;
                font-size: 18px;
                padding-right: 66px;
            }
            .Box_Month{
                font-size: 16px;
                padding-right: 28px;
            }
            .Box_Text{
                font-size: 16px;
                width: 310px;
            }
            .Box_Text2 {
                font-size: 16px;
                width: 310px;
            }
            
        }
    }
}

@media screen and (max-width:768px) {
    .HisContainer{
        margin-left: 20px;
        .HisTextBox{
            .His_Title{
                font-size: 20px;
            }
            .His_Text{
                font-size: 15px;
            }
        }
        .His_List{
            .List_Box{
                .List_Box{
                    
                }
                .Box_Year{
                    max-width: 200px;
                    font-size: 13px;
                    padding-right: 10px;
                }
                .Box_Month{
                    font-size: 12px;
                    
                }
                .Box_Text{
                    font-size: 12px;
                    
                }
                .Box_Text2 {
                    font-size: 12px;
                    
                }
            }
        }
    }
}