.Chart_Container{
    .Chart_TitleBox{
        padding-bottom: 60px;
        .Chart_Title{
            font-size: 18px;
            color: #707070 ;
            padding-bottom: 21px;
        }
    }
    .Chart{
        width: 1050px;
        .Chart_Type{
            display: flex;
            background-color: #f5f4f4;
            .Type_One{
                width: 183px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
            }
            .Type_Two{
                width: 850px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
            }
        }
        .Chart_TextBox{
            display: flex;
            flex-direction: column;
            .Text_List{
                display: flex;
                .One{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 183px;
                    height: 60px;
                }
                .Two{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 866px;
                    height: 60px;
                }   
            }
        }

    }
}