.Text_Container{
    max-width: 1050px;
    width: 100%;
    margin-left: 20px;
    .Analy_TextBox{
        .Analy_Title{
            margin-top: 60px;
            font-size: 30px;
            padding-bottom: 28px;
            >span {
                color: #da2320;
            }
        }
        .Analy_Text{
            font-size: 20px;
            padding-bottom: 29px;
        }
    }
    .Text{
        max-width: 1050px;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        color: #707070;
    }
}

@media screen and (max-width:768px) {
    .Text_Container{
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
        .Analy_TextBox{
            .Analy_Title{
                font-size: 20px;
            }
            .Analy_Text{
                font-size: 15px;
            }
        }
        .Text{
            font-size: 13px;
        }
    }
}