.Type_Container {
    max-width: 1050px;
    width: 100%;
    padding-top: 100px;
    .Type_TextBox {
        .Type_Text {
            font-size: 14px;
            padding-bottom: 19px;
        }
        .Type_Title {
            font-size: 30px;
            padding-bottom: 42px;
            >span {
                color: #da2320;
            }
        }
    }
    .Chart {
        .Chart_TitleBox {
            .Chart_Title {
                font-size: 18px;
                color: #707070;
                padding-bottom: 21px;
            }
        }
        .Chart_Box{
            border-top: solid 2px #535353;
            border-bottom: solid 2px #535353;
            max-width: 1050px;
            width: 100%;
            .TypeBox{
                
                height: 63px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: #f5f4f4;
                .Type{
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .Text_List{
                border-bottom: solid 1px #e5e5e5;
                max-width: 1050px;
                width: 100%;
                height: 63px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .One{
                    font-size: 16px;
                    color: #707070;
                    width: 500px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .Type_Container{
        padding-top: 50px;
        .Type_TextBox{
            padding-left: 10px;
            .Type_Text{
                font-size: 11px;
            }
            .Type_Title{
                font-size: 20px;
            }
        }
        .Chart {
            .Chart_TitleBox {
                .Chart_Title {
                    padding-left: 10px;
                    font-size: 14px;
                }
            }
            .Chart_Box{
                
                .TypeBox{
                    
                    .Type{
                        font-size: 14px;
                    }
                }
                .Text_List{
                    
                    .One{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}