.Result_Container{
    padding-top: 78px;
    .Result_TextBox{
        .Result_Text{
            font-size: 14px;
            font-weight: 600;
            padding-bottom: 19px;
        }
        .Result_Title{
            font-weight: 600;
            font-size: 30px;
            padding-bottom: 40px;
            >span{
                color: #da2320;
            }
        }
    }
    .Result_ListBox{
        .Area{
            display: flex;
            padding-bottom: 40px;
            .One_Area{
                .One_Circle{
                    position: absolute;
                    max-width: 200px;
                    width: 100%;
                    height: 200px;
                    border: 1px solid #535353;
                    border-radius: 50%;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 600;
                }
                .Two_Circle{
                    position: relative;
                    top: 10px;
                    width: 200px;
                    height: 200px;
                    border: 1px solid #535353;
                    border-radius: 50%;
                    background-color: #da2320;
                    opacity: 0.3;
                }
            }
            .Two_Area{
                padding-left: 30px;
                display: flex;
                flex-direction: column;
                .Text_Number{
                    font-weight: 600;
                    font-size: 20px;
                    padding-bottom: 30px;
                }
                .Text_List{
                    .One_List {
                        font-size: 16px;
                        line-height: 1.5;
                        padding-bottom: 17px;
                        color: #707070;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .Result_Container{
        .Result_TextBox{
            padding-left: 10px;
            .Result_Text{
                font-size: 11px;
            }
            .Result_Title{
                font-size: 20px;
            }   
        }
        .Result_ListBox{
            padding-left: 10px;
            .Area{
                
                .One_Area {
                    .One_Circle{
                        max-width: 150px;
                        height: 150px;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .Two_Circle{
                        max-width: 150px;
                        height: 150px;
                    }
                }
                .Two_Area{
                    padding-left: 15px;
                    .Text_Number{
                        padding-bottom: 15px;
                    }
                    .Text_List{
                        .One_List{
                            font-size: 13px;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}