.Text_Container{
    max-width: 1050px;
    width: 100%;
    margin-left: 20px;
    .Analy_TextBox{
        .Analy_Title{
            margin-top: 60px;
            font-size: 30px;
            padding-bottom: 28px;
            font-weight: 600;
            >span {
                color: #da2320;
            }
        }
        .Analy_Text{
            font-size: 20px;
            
            padding-bottom: 29px;
            color: #707070;
        }
       
    }
    .Text{
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #707070;
    }
    
}

@media screen and (max-width:768px) {
    .Text_Container{
        margin-left: initial;
        padding-left: 0px;
        
        .Analy_TextBox{
            padding-left: 10px;
            .Analy_Title{
                font-size: 20px;
            }
            .Analy_Text{
                font-size: 15px;
            }
        }
        .Text{
            padding-left: 10px;
            padding-right: 10px;
            font-size: 12px;
        }
    }
}