.Chart_Container{
    
    .Chart_TitleBox{
        .Chart_Title{
            margin-top: 60px;
            font-size: 30px;
            color: #535353;
        }
    }
    .Chart_TextBox{
        display: flex;
        padding-bottom: 10px;
        .Chart_Text_Area{
            font-size: 20px;
            color: #da2320;
            padding-left: 10px;
            font-weight: 600;
        }
    }
    .Chart_Box{

        .Chart_Type{
            display: flex;
            font-size: 16px;
            font-weight: 600;
            justify-content: space-between;
            border-top: solid 2px #535353;
            border-bottom: solid 2px #535353;
            .Type_Text_One{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 217px;
                width: 100%;
                height: 60px;
            }
            .Type_Text_Two {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 430px;
                width: 100%;
                height: 60px;
            }
            .Type_Text_Three {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 400px;
                width: 100%;
                height: 60px;
            }
        }
        .Chart_ListBox{
            
            .Text_List{
                display: flex;
                justify-content: space-around;
                border-bottom: solid 1px #e5e5e5;
                .One_Text{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 217px;
                    width: 100%;
                    height: 60px;
                }
                .Two_Text{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 430px;
                    width: 100%;
                    height: 60px;
                }
                .Three_Text{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 400px;
                    width: 100%;
                    height: 60px;
                }
            }
        }
    }
}


    @media screen and (max-width:768px) {
        .Chart_Container{
            .Chart_TitleBox{
                
                .Chart_Title{
                    padding-left: 10px;
                    padding-top: 10px;
                    font-size: 16px;
                    font-weight: 600;                    
                }
            }
            .Chart_TextBox{
                padding-left: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                .Chart_Text{
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .Chart_Box{
                
                .Chart_Type{
                    font-size: 14px;
                    .Type_Text_One{
                        
                    }
                    .Type_Text_Two {
                        
                    }
                    .Type_Text_Three {
                        
                    }
                }
                .Chart_ListBox{
                    
                    .Text_List{
                       font-size: 11px;
                        .One_Text{
                            
                        }
                        .Two_Text{
                            
                        }
                        .Three_Text{
                            
                        }
                    }
                }
            }
        }
    }