.Aptitude_Container{
    
    .Aptitude_Box{
        text-align: center;
        padding-top: 60px;
        .Aptitude_Icon{
            
            .Icon_aptitude{
                padding-bottom: 30px;
            }
        }
        .Aptitude_Title{
            font-size: 30px;
            color: #535353;
            padding-bottom: 30px;
        }
        .Aptitude_Text{
            max-width: 700px;
            width: 100%;
            font-size: 16px;
            color: #a0a0a0;
            margin: auto;
            padding-bottom: 60px;
        }
    }
    .Aptitude_Ga{
        .Ga_Box{
            display: flex;
            padding: 50px 0 40px 0;
            .Ga_Title{
                font-size: 18px;
                padding-right: 24px;
            }
            .Ga_Text{
                color: #535353;
                font-size: 18px;
            }
        }
        .Ga_IconBox{
            display: flex;
            justify-content: center;
            .Ga_Icon{
                border: solid 1px #ebebeb;
                border-radius: 10px;
                padding: 20px;
                margin: 20px 0 20px 0;
                display: flex;
                flex: 1;
                .Ga_Img{
                    max-width: 120px;
                    width: 100%;
                    
                }
                .Ga_Icon_Text{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 15px;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
            .Dot_Line{
                display: flex;
                align-self: center;
                padding: 20px;
            }
        }
        .Na_Icon_area{
            
        }
        .Na_IconBox{
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-bottom: 30px;
            .Na_Icon{
                max-width: 485px;
                width: 100%;
                border: solid 1px #ebebeb;
                border-radius: 10px;
                padding: 20px;
                display: flex;
                flex: 1;
                justify-content: space-around;
                .Na_ImgBox{
                    display: flex;
                    justify-content: center;
                    padding-bottom: 20px;
                    .Na_Img{
                        
                        max-width: 120px;
                        width: 100%;
                    }
                }
                .Na_Text_wrap{
                    padding-left: 10px;
                    .Na_Text{
                        max-width: 300px;
                        width: 100%;
                        font-size: 14px;
                        font-weight: 600;
                        padding-bottom: 14px;
                        color: #535353;
                        text-align: left;
                    }
                    .Na_Dot{
                        padding-bottom: 14px;
                    }
                    .Na_SubText{
                        max-width: 300px;
                        width: 100%;
                        font-size: 12px;
                        color: #a0a0a0;
                        text-align: left;
                    }
                }
                
            }
            .Na_DotBox{
                display: flex;
                align-items: center;
                .Dot_Line{

                }
            }
        }
        
        .Move_Page{
            display: flex;
            justify-content: center;
            padding: 30px 0 100px 0;
            a {
                text-decoration: none;
            }
            .Apti_Btn{
                width: 300px;
                height: 50px;
                background-color: #da2320;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .Aptitude_Container{
    
        .Aptitude_Box{
            
            .Aptitude_Icon{
                padding-top: 20px;
                padding-bottom: 20px;
                >img{
                    width: 80%;
                }
            }
            .Aptitude_Title{
                font-size: 18px;
            }
            .Aptitude_Text{
                padding: 0 15px 0 15px;
                font-size: 14px;
                padding-bottom: 50px;
            }
        }
        .Aptitude_Ga{
            .Ga_Box{
                padding: 0 15px 0 15px;
                .Ga_Title{
                    font-size: 14px;
                }
                .Ga_Text{
                    font-size: 13px;
                }
            }
            .Ga_IconBox{
               
                .Ga_Icon{
                    padding: 20px;
                    text-align: center;
                    .Ga_Img{
                        max-width: 100px;
                        
                    }
                    .Ga_Icon_Text{
                        font-size: 12px;
                    }
                }
                .Dot_Line{
                    
                }
            }
            .Na_IconBox{
                
                .Na_Icon{
                    padding: 20px;
                    .Na_ImgBox{
                        .Na_Img{
                           max-width: 100px;
                        }
                    }
                    .Na_Text_wrap{
                        .Na_Text{
                            font-size: 12px;
                        }
                        .Na_Dot{
                            
                        }
                        .Na_SubText{
                            font-size: 11px;
                        }
                    }
                    
                }
                .Na_DotBox{
                    display: none;
                }
            }
            
        }
    }
}