.TestInfoContainer{
    
    .TestInfo_TitleBox{
        .TestInfo_Title{
            font-size: 30px;
            padding-bottom: 20px;
            >span{
                color: #da2320;
            }
        }
    }
    .TestInfo_Banner{
       
        padding-bottom: 61px;
        >img {
            width: 100%;
        }
    }
    .Test_List{
        display: flex;
        .Test_Number{
            font-size: 36px;
            color: #da2320;
            padding: 5px;
        }
        .Test_Name{
            max-width: 250px;
            width: 100%;
            font-size: 30px;
            padding: 5px;
        }
        .Text_Content{
            padding: 5px;
            .Content_One{
                max-width: 808px;
                font-size: 16px;
                color: #707070;
                line-height: 1.5;
                .One_Two{
                    color: #a0a0a0;
                }
            }
            .Content_Two{
                color: #da2320;
            }
            .Content_Three{
                color: #a0a0a0;
                padding-bottom: 14px;
            }
            
        }
        .Text_ContentTwo{
            padding: 5px;
            .Content_One1{
                max-width: 808px;
                font-size: 16px;
                color: #707070;
                line-height: 1.5;
                padding-bottom: 19px;
            }
            .Content_Two2{
                color: #da2320;
                padding-bottom: 14px;
            }
            .Content_Three3{
                color: #a0a0a0;
                padding-bottom: 14px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .TestInfoContainer{
    
        .TestInfo_TitleBox{
            padding-left: 15px;
            .TestInfo_Title{
                font-size: 16px;
                >span{
                    
                }
            }
        }
        .TestInfo_Banner{
            padding: 10px;
            >img {
                
            }
        }
        .Test_List{
            flex-direction: column;
            padding-left: 10px;
            .Test_Number{
                font-size: 20px;
            }
            .Test_Name{
                font-size: 17px;
                br{
                    display: none;
                }
            }
            .Text_Content{
                
                .Content_One{
                    font-size: 12px;
                    .One_Two{
                        
                    }
                }
                .Content_Two{
                    
                }
                .Content_Three{
                    
                }
                
            }
            .Text_ContentTwo{
                
                .Content_One1{
                    font-size: 12px;
                }
                .Content_Two2{
                    font-size: 12px;
                }
                .Content_Three3{
                    
                }
            }
        }
    }
}