.TestInfoContainer{
    
    .TestInfo_TitleBox{
        .TestInfo_Title{
            font-weight: 600;
            font-size: 30px;
            padding-bottom: 20px;
            >span{
                color: #da2320;
            }
        }
    }
    .TestInfo_Banner{
        >img {
            width: 100%;
        }
    }
    .Test_list_divider_box{
        max-width: 1050px;
        width: 100%;
        .Test_list_box{
            display: flex;
            .Test_list_number{
                font-size: 30px;
                font-weight: 900;
                color: #da2320;
            }
            .Test_lsit_Name{
                padding-left: 10px;
                font-size: 26px;
                font-weight: 600;
                display: flex;
                align-items: center;
                color: #535353;
            }
        }
        .Text_Content{
            display: flex;
            flex-direction: column;
            .Content_One{
                font-size: 16px;
                font-weight: 500;
                padding-left: 35px;
               
                max-width: 970px;
                width: 100%;
                color: #707070;
                
            }
            .Content_Two{
                font-size: 16px;
                color: #da2320;
                font-weight: 500;
               
                padding-left: 35px;
                
            }
            .Content_Three{
                font-size: 16px;
                font-weight: 500;
                color: #a0a0a0;
               
                padding-left: 35px;
                
            }
        }
    }
}

@media screen and (max-width:768px) {
    .TestInfoContainer{
    
        .TestInfo_TitleBox{
            padding-left: 15px;
            .TestInfo_Title{
                font-size: 16px;
                >span{
                    
                }
            }
        }
        .TestInfo_Banner{
            padding: 10px;
            >img {
                
            }
        }
        .Test_List{
            flex-direction: column;
            padding: 0 15px 0 15px;
            .Test_Number{
                font-size: 20px;
            }
            .Test_Name{
                font-size: 17px;
                br{
                    display: none;
                }
            }
            .Text_Content{
                
                .Content_One{
                    font-size: 12px;
                    .One_Two{
                        
                    }
                }
                .Content_Two{
                    
                }
                .Content_Three{
                    
                }
                
            }
            .Text_ContentTwo{
                
                .Content_One1{
                padding-right: 15px;
                font-size: 12px;
                }
                .Content_Two2{
                    font-size: 12px;
                }
                .Content_Three3{
                    
                }
            }
        }
    }
}