.GuideContainer{
    position: fixed;
    z-index: 99;
    width: 100%;
    top:80px;
    a:link{
        color:#d0d0d0;
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
        color:#d0d0d0;
    }

    .GuideTopContainer{
        position: relative;
        background-color: #d0d0d0;
    }
    .GuideTopBox{
        display: flex;
        width: 100%;
        max-width: 875px;
        justify-content: center;
        padding-top: 11px;
        padding-bottom: 11px;
        margin: auto;
        font-size: #212121;
        font-size: 12px;
        font-weight: 500;
        >div{
            display: flex;
            flex: 1;
            justify-content: center;
        }
    }
    .GuideBottomContainer{
        position: relative;
        padding-top: 20px;
        height: 0;
        overflow: hidden;
        
    }
    .GuideBottomBox{
        display: flex;
        width: 100%;
        max-width: 875px;
        justify-content: flex-start;
        margin: auto;
        font-size: 12px;
        a:active{
            text-decoration: underline;
            color:#d2a57f;
        }
        a:hover{
            text-decoration: underline;
            color: #d2a57f;
        }
        >div{
            flex-direction: column;
            display: flex;
            flex: 1;
        }
    }
    .GuideAproList{
        >div{
        &:nth-child(1){
            margin-bottom: 18px;
        }
        &:nth-child(2){
            margin-bottom: 18px;
        }
        &:nth-child(3){
            margin-bottom: 18px;
        }
        &:nth-child(4){
            margin-bottom: 18px;
        }
    }
    }
    .GuideYoungChefList{
        >div{
        &:nth-child(1){
            margin-bottom: 18px;
        }
        &:nth-child(2){
            margin-bottom: 18px;
        }
        &:nth-child(3){
            margin-bottom: 18px;
        }
        &:nth-child(4){
            margin-bottom: 18px;
        }
    }
    }
    .GuideContestList{
        >div{
        &:nth-child(1){
            margin-bottom: 18px;
        }
        &:nth-child(2){
            margin-bottom: 18px;
        }
    }
    }
    .GuideCertificateList{
        >div{
        &:nth-child(1){
            margin-bottom: 18px;
        }
        &:nth-child(2){
            margin-bottom: 18px;
        }
        &:nth-child(3){
            margin-bottom: 18px;
        }
        &:nth-child(4){
            margin-bottom: 18px;
        }
        &:nth-child(5){
            margin-bottom: 18px;
        }
        &:nth-child(6){
            margin-bottom: 18px;
        }
        &:nth-child(7){
            margin-bottom: 18px;
        }
    }
    }
    .GuideStartupsList{
        >div{
        &:nth-child(1){
            margin-bottom: 18px;
        }
        &:nth-child(2){
            margin-bottom: 18px;
        }
        &:nth-child(3){
            margin-bottom: 18px;
        }
        &:nth-child(4){
            margin-bottom: 18px;
        }
    }
    }

    .GuideCommunityList{
        >div{
        &:nth-child(1){
            margin-bottom: 18px;
        }
        &:nth-child(2){
            margin-bottom: 18px;
        }
        &:nth-child(3){
            margin-bottom: 18px;
        }
        &:nth-child(4){
            margin-bottom: 18px;
        }
        &:nth-child(5){
            margin-bottom: 18px;
        }
        &:nth-child(6){
            margin-bottom: 18px;
        }
    }
    }
    .GuideBox:hover{
        .GuideBottomContainer{
            height: 300px;
            background-color:#1a1a1ade;
        }
        .GuideBottomBox{
            color: #d0d0d0;
        }
    }

}

@media screen and (max-width:500px) {
    .GuideContainer{
        .GuideTopBox{
            display: none;
        }
        .GuideBottomContainer{
            display:none;
        }
    }
}