.HanbitBox{
    width: 200px;
    height: 300px;
    .Title{
        margin-top: 60px;
        font-weight: 600;
        font-size: 20px;
        color: #535353;
        padding-bottom: 40px;
    }
    .HanbitBoard_navlink_container{
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 14px;
        padding-bottom: 19px;
        position: relative;
        text-decoration: none;
        &.active{
            >div{
                color: red;
            }
        }
        >div{
            color: black;
        }
        >img{
           position: absolute;
           left: 100px;
        }
    }
    
}