.IntroBox{
    max-width: 160px;
    height: 150px;
    .Title{
        margin-top: 60px;
        font-weight: 600;
        font-size: 20px;
        color: #535353;
        padding-bottom: 40px;
    }
    .Line{
        font-size: 14px;
        padding-bottom: 19px;
        
    }
    >a{
        text-decoration: none;
        color: #535353;
    }
    >a:active{
        color: #da2320;
    }
}