.QnA_Contaier{
    
    .QnA_TopLine{
        display: flex;
        max-width: 1050px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border-top: 2px solid #535353;
        border-bottom: 2px solid #535353;
        .QnA_Type{
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .QnA_People{
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .QnA_Title{
            max-width: 500px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .QnA_Date{
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }   
        
    }
    .Q_Link{
        text-decoration: none;
        color: #535353;
    }
}

@media screen and (max-width:768px) {
    .QnA_Contaier{
        .QnA_TopLine{
            font-size: 14px;
            .QnA_Type{
                
            }
            .QnA_People{
                
            }
            .QnA_Title{
                
            }
            .QnA_Date{
                
            }   
    
        }
        
        
    }
    
}