.Title_One{
    font-size: 30px;
    margin-top: 60px;
}

@media screen and (max-width:768px) {
    .Title_One{
        font-size: 24px;
        padding-left: 15px;
        padding-bottom: 15px;
    }
}