.Notice_Board{
    width: 1050px;
    border-bottom: solid 1px #e5e5e5;
    justify-content: space-between;
    display: flex;
    height: 60px;
        .Notice_Type{
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            }
        .Notice_Title{
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            }
        .Notice_Date{
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            }
    
}