.Notice_Contaier{
    max-width: 1250px;
    
    .Notice_TopLine{
        display: flex;
        width: 1050px;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border-top: 2px solid #535353;
        border-bottom: 2px solid #535353;
        .Notice_Type{
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Notice_Title{
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Notice_Date{
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }   

    }
}