.Notice_Contaier{
    max-width: 1050px;
    width: 100%;
    .Notice_TopLine{
        display: flex;
        max-width: 1050px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border-top: 2px solid #535353;
        border-bottom: 2px solid #535353;
        .Notice_Type{
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Notice_People{
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Notice_Title{
            max-width: 400px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Notice_Date{
            max-width: 150px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }   

    }
    .N_Link{
        text-decoration: none;
        color: #535353;
    }
}

@media screen and (max-width:768px) {
    .Notice_Contaier{
        
        .Notice_TopLine{
            font-size: 14px;
            .Notice_Type{
                
            }
            .Notice_People{
                
            }
            .Notice_Title{
                
            }
            .Notice_Date{
                
            }   
    
        }
    }
}