.FooterContainer{
    max-width: 1250px;
    margin: auto;
    height: 171px;
    width: 100%;
    .Box{
        display: flex;
        padding-top: 40px;
        justify-content: space-around;
        .LogoBox{
        }
        .Info{
            font-size: 14px;
            font-weight: 200;
        }
    .TermsBox{
        display: flex;
        .One{
            font-weight: 200;
            padding: 0 5px 0 5px;
        }
        .Two{
            font-weight: 200;
            padding: 0 5px 0 5px;
        }
        }
    }
    
}

@media screen and (max-width:768px) {
    .FooterContainer{
        .Box{
            .Info{
                font-size: 12px;
            }
        }
        .TermsBox{
            font-size: 10px;
            .One{
                display: none;
            }
            .Two{
                display: none;
            }
        }
    }
}