.Vehicle_Contatiner{
    max-width: 1250px;
    margin: auto;
    height: auto;
    .TopBanner{

    }
    .Vehicle_Contents{
        display: flex;
    }
    .Result{
        max-width: 1050px;
        margin: auto;
    }
}

@media screen and (max-width:768px) {
    .Vehicle_Contatiner{
        
        .TopBanner{
    
        }
        .Vehicle_Contents{
            flex-direction: column;
        }
        .Result{
            
        }
    }
}