.Notice_Contatiner{
    max-width: 1250px;
    margin: auto;
    height: auto;
    .TopBanner{

    }
    .Notice_Contents{
        display: flex;
    }
}

@media screen and (max-width:768px) {
    .Notice_Contatiner{
        
        .TopBanner{
    
        }
        .Notice_Contents{
            flex-direction: column;
        }
    }
}