.SlickContainer{
    max-width: 1250px;
    margin: auto;
    width: 100%;
    
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    .Flex_Wrap{
        
    }
    .Banner {
        width: 150px;
    }
}

@media screen and (max-width:768px) {
    .SlickContainer{
        display: none;
    }
}