.Contents {
    max-width: 1250px;
    margin: auto;
    padding-top: 50px;
    .One_Line {
        display: flex;
        .Link {
            text-decoration: none;
            color: #333333;
        }
    }
    .Two_Line {
        display: flex;
        padding-bottom: 50px;
    }
}

@media screen and (max-width:768px) {
    .Contents{
        padding-top: 0;
        .One_Line{
            display: none;
            
        }
        .Two_Line{
            display: none;
            
        }
    }
}