.SlickContainer {
  max-width: 1250px;
  min-width: 1250px;
  margin: auto;
  height: 90px;
  padding: 25px 0 25px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;

  .Slick_Img {
    max-width: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .SlickContainer {
    display: none;
  }
}
