.BoardContainer{
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .BoardContainer{
        flex-direction: column;
    }
}