.BannerContainer {
    width: 100%;
    .MainSwiperBox{
        height: 529px;
        .MainSwiperImgBox{
            img {
                width: 100%;
            }
        }
        .TextBox {
            position: relative;
            bottom: 350px;
            left: 600px;
            .NewText{
                font-weight: 600;
                font-size: 42.5px;
                padding-bottom: 30px;
            }
            .Text {
                font-size: 21.5px;
            }
        }
    }
}